* {
    font-family: 'Raleway', serif;
}

.inputDialog{
  padding: 15px 20px 15px 20px;
  border: none;
  background-color: #dd4949;
  width: 700px;
  font-weight: lighter;
  color: #e3e1ef;
}

.inputDialog td{
  margin: 100px;
}

input[type=text] {
  padding:5px 20px;
  border: none;
  margin: 3px 10px 3px 10px;
  width: 100%;
  height: 30px;
}

div.tagHolder{
  width: 600px;
  margin: 10px 20px 10px 20px;
}

div.tagIdentifier{
  display: inline-grid;
  width: 150px;
}

div.tagName{
  display: inline-grid;
  width: 100px;
}

div.tagValue{
  display: inline-grid;
}

div.contenedorMaestro{
  width:90%;
  color: #333333;
  border: 1px solid #333333;
  padding: 10px 30px 10px 30px;
  margin: 30px;
}

div.grouper{
  display: inline-block;
}


.hidden{
    transform: rotate(-90deg);
}


.shown{
    transform: rotate(90deg);
}

.contenedor{
  max-height: 130px;
  -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 1.2s;
}
