
div.contenedor{
    width:70%;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    border-style: solid;
    border-color: #333333;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    margin: 30px;
    transition: 0.5s ease-in-out;
    max-height: 100px;
}
div.tarea{
    display: flow-root;
    margin: 0 2em 0.05em;
    border-radius: 1em;
    border-bottom: 2px solid #333333;
    padding: 0.1em;
    transition: max-height 0.5s ease-in-out, background-color  0.3s ease-out;
}

div.taskData {
    margin-top: 0.4em;
    margin-left: 4em;
    width: 12em;
}

div.taskName {
    margin-bottom: 0.2em;
}

div.hideData {
    font-size: x-small;
    margin-left: -4em;
}


div.nombre {
    display: inline-block;
    width: 15%;
}

div.loadBar {
    border-radius: 0.8em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0.05em solid #c94c4c;
    z-index: 10;
}

div.loaded {
    flex-grow: 1;
    background-color: #e45555;
}
