div.contenedor{
  width:auto;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #333333;
  border-style: solid;
  border-color: #333333;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
  margin: 30px;
  width: 60%;

}

div.contenedor#u1{
  float: right;
}

div.contenedor#u2{
  float:left;
}

div.contenedor#u3{
  float: left;
  position: relative;
  left:17%;

}

div.contenedor#u4{
  float: left;
}


div.nombre {
  display: inline-block;
  width: 15%;
}

div.loadbar {
  width: 70%;
  border-style: solid;
  border-color: #c94c4c;
  border-radius: 30px;
  display: inline-block;
  padding: 0px;
}

div.loaded {
  border-radius: 30px 0px 0px 30px;
  display: inline-block;
  height: inherit;
  background-color: #dc8989;
}

div#uno.loaded{
  width: 20%;
}

div#dos.loaded{
  width: 77%;
}

div#tres.loaded{
  width:  45%;
}

div#cuatro.loaded{
  width: 90%;
}

h2 {
  font-family: 'Poppins', sans-serif;
}
